@import "var";
@import "mixin";
@import "btn";
body{
  height: 100%;
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
.main-pages{
  position: relative;
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 40px;
}
.curve{
  position: relative;
  width: 100%;
  height: 400px;
  border: 1px solid red;
  &-content{
    position: relative;
      width: 100%;
      height: 100%;
      padding-left: 100px;
      padding-bottom: 50px;
      padding-top: 30px;
    &-vertical{
      height: 100%;
      width: 100px;
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      padding-top: 30px;
      padding-bottom: 50px;
      overflow: hidden;
      p{
        margin: 0;
        font-size: 16px;
        
      }
    }
    
    &-horizontal{ 
      height: 50px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: nowrap;
      padding-left: 100px;
      p{
        margin: 0 10px;
      }
    }
    &-top{ 
      height: 30px;
      width: calc(100% - 100px);
      position: absolute;
      left: 100px;
      top: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;
    }
    &-wrap{ 
      height: 100%;
      width: 100%;
      position: relative;
      left: 0;
      top: 0;
      border: 1px solid green;
      .dot{
        width: 4px;
        height: 4px;
        border-radius: 50%;
        position: absolute;
      }
    }
  }
}